/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */


.header{
  color: black;
}

.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.button{
  width: 10rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: orange;
  color:black;
}

.button:hover{
  background-color: orangered;
  color:black;
}

.albums-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.album-card{
  border-radius: 10px;
  border: 1px solid black;
}

.album-card.image{

}

.album-card-placeholder{

}

.album-card-title{

}

.album-card-artist{

}
